h1{
	font-family: 'Arial';
	font-size: 22pt;
	color: #D2691E;
	text-align: center;
	}
	
h2{
	font-family: 'Verdana';
	font-size: 16pt;
	color: #8B4513;
	}
	
h3{
	font-family: 'Verdana';
	font-size: 14pt;
	color: #8B0000;
	}
	